doctype
html
    
    head
        script(type="text/javascript", src="../clicks.js")

        title=title
        
    body
        div 
            button(onclick='backward()') Backwards
        div
            img(id="test" src= "data:img/jpg;base64,#{path}")
        div
            button(onclick='forward()') Forwards

